@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --dark-pink-rgb: 227, 152, 152;
  --pink-rgb: 264, 193, 193;
  --light-pink: 248, 216, 216;
  --pink-brown: 174, 123, 123;
  --dark-pink-brown: 122, 86, 86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}